# Ignore everything by default
*
**

# Include only necessary files
!package.json
!LICENSE*

# Include source and compiled files
!*.js
!dist/**/*.js
!ui-shell/dist/**

# Include icons
!resources/devdb-128x128.png
!resources/devdb.png

# Include snippets and schemas
!snippets/*
!schemas/*

!node_modules/@vscode/better-sqlite3/**
!node_modules/@vscode/sqlite3/**