# Ignore everything by default
*
**

# Include only necessary files
!package.json
!LICENSE*

# Include source and compiled files
!*.js
!dist/**/*.js
!dist/**/*.node
!ui-shell/dist/**

# Include icons
!resources/devdb-128x128.png
!resources/devdb.png

# Include snippets and schemas
!snippets/*
!schemas/*

# @vscode/sqlite3: uses node-gyp-build with complex dynamic requires that can't be bundled by esbuild
!node_modules/@vscode/sqlite3/**
