node_modules/
package-lock.json
local-datastores/data/
local-datastores/certs/*.crt
local-datastores/certs/*.key
local-datastores/certs/*.csr
local-datastores/certs/*.srl
local-datastores/workspace/.devdbrc
local-datastores/*.log
